<ion-view view-title="Dashboard">
  <ion-content class="padding list-category">
    <div class="list  card">

      <a  href="#" class="item item-icon-left">
      
      </a>

    </div>
  </ion-content>
  <ion-content  class="padding list-main">
   <h3></h3>
   <input  type="text"/>
   <ul class="list">
      <li   class="item">
        <button class="button button-small button-positive">
            Edit
        </button>
            <a href=""  target="_blank" ></a>
      </li>
   </ul>
  </ion-content>
</ion-view>
