<ion-view view-title="Dashboard">
  <ion-content class="padding list-category">
    <div class="list  card">

      <a ng-repeat="category in cc.categories" href="#" class="item item-icon-left">
      {{category.id+1}}.{{category.name}}
      </a>

    </div>
  </ion-content>
  <ion-content  class="padding list-main">
   <h3>{{cc.hello}}</h3>
   <input ng-model="cc.hello" type="text"/>
   <ul class="list">
      <li ng-repeat="bookmark in cc.bookmarks" class="item">
        <button class="button button-small button-positive">
            Edit
        </button>
        <a href="{{bookmark.url}}"  target="_blank" >
          {{bookmark.title}}
        </a>
      </li>
   </ul>
  </ion-content>
</ion-view>
